<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utility.Extent_Reports" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Test_cases.Contact_info_TC"/>
			<class name="Test_cases.Sign_in_TC" />
			<class name="Test_cases.Flight_info_TC"/>
			<class name="Test_cases.Preference_info_TC"/>
		</classes>
	</test>
</suite> 
